body {
  height: 100vh;
  width: 100vw;
}

#main {
  width: 75vw;;
  height: 75vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  grid-template-areas:
  "A B C D"
  "E F G H"
  "I J K L"
  "M N O P";
  font-size: 3em;
  perspective: 800px;
}

img {
  width:100%;
  height: 100%;
  background-color: grey;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.back {
  backface-visibility: hidden;
}


.front {

}

.cardContainer {
  transform-origin: right center;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

.flip{
  transform: translateX( -100% ) rotateY(180deg);
}

.delay {
  transition: all 0.2s linear;
  transition-delay: 1s;
  transform: rotateX(0deg);
}
