body {
  height: 100vh;
  width: 100vw;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px;
  grid-template-areas:
  "X Y Z"
  "A B C";
  font-size: 3em;
}

#xMark {
  background-color: grey;
  display: inline-grid;
}
