body {
  height: 100vh;
  width: 100vw;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-areas:
  "A B C D"
  "E F G H"
  "I J K L"
  "M N O P";
  font-size: 3em;
}

img {
  backface-visibility: hidden;
  width: 22vh;
  height: 22vh;
  background-color: grey;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

img:hover {
  transform: rotateY(180deg);
}
