body {
  height: 100vh;
  width: 100vw;
}

#main {
  width: 75vw;;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
  grid-template-areas:
  "h0 h1 h2 h3"
  "A B C D"
  "E F G H"
  "I J K L"
  "M N O P";
  font-size: 3em;
  perspective: 800px;
}

#gameOverModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#gameOverContent {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 5em;
  text-align: center;
}
#gameInfo {
  grid-area: h0;
}

.counter {
  display: inline;
}

#moveCounterLabel {
  font-size: 0.5em;
}

img {
  width:100%;
  height: 100%;
  background-color: grey;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

.star {
  position: static;
  display: inline;
  width: 20px;
  height: 20px;
  background-color: white;
}

.back {
  backface-visibility: hidden;
}


.front {

}

.cardContainer {
  transform-origin: right center;
  transform-style: preserve-3d;
  transition: all 0.2s linear;
}

.flip{
  transform: translateX( -100% ) rotateY(180deg);
}

.delay {
  transition: all 0.2s linear;
  transition-delay: 0.6s;
  transform: rotateX(80deg);
}

.match {
  transition: all 0.2s linear;
  transition-delay: 0.4s;
  transform: rotateZ(1deg);
}
